  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
.father{
  display: flex;
  flex-direction: row; /* same as default*/
  /* Main Axis */
  justify-content: space-around;
  width: 100%;
  height: 100vh;

}

.child {
  flex-basis: 30%;
  background: peru;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2){
  background-color: black;
  flex-grow: 1;
  /* flex-shrink: 1; */
}