.father{
  display: flex;
  flex-direction: row; /* same as default*/
  /* Main Axis */
  justify-content: space-around;
  height: 100vh;
  flex-wrap: nowrap;

}

.child {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
