.father{
    display: flex;
    flex-direction: row; /* same as default*/
    /* Main Axis */
    justify-content: space-around;
    width: 100%;
  }
  
  .child {
    background: red;
    flex-basis: 30%;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }




.child:nth-child(2){

    background-color: black;
  
    flex-grow: 1;
  
    /* flex-shrink: 1; */
  
  }